@{
    ViewData["Title"] = "About";
}

      <table border="1">
         <caption>
            <h2>Мезрин Денис Александроич</h2>
         </caption>
         <tr>
            <td>
				<p>
					МКН, ДВФУ, первый курс, МКН, гланый программист ЦПД проекта марсоход
				</p>
				<p><i>Не берите  команду студенто, что много ы пендриаются, иначе сё пойдет  тар тарары, как на нашем проекте
				<br>
				<br> начале года меня приглосили  команду центра проекной деятельности ДФУ один студент, сё было хорошо, до начала торого семестра
				<br>
				<br> начале торого семестра нас покинули 4 программиста из 6, 3 из них были друзьями и много ыпендриались, что от они сё знают
				<br>
				<br>Но оказалось нет, они оказались обычными балаболами и при перых трудностях ушли от нас
				<br>
				<br>Теперь ся их работа сложилась на нас. Я бы мог покинуть команду, дабы не было ущерба осноной учебе, но тогда бы проект сосем разалился, по этому я там и остался
			    </i></p>
				<table align="center">
					<caption><b>Я люблю:</b></caption>
					<tr>
                     <td>
                        <ul type="disc">
                           <li>Когда надо делать одно задание, а не четыре</li>
                           <li>Ложиться спать воремя</li>
                           <li>Отсустие хосто</li>
                        </ul>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>